<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>Movie Recommender</li>
        </ul>
    </nav>
    <div class="search-box">
        <section>
            <input id="movie-search-bar" name="MovieName" type="text" placeholder="Enter a Movie Name">
        </section>
        <button class="btn" id="search-btn">Search</button>
    </div>
    <div class="show-recommendations">
        <h2>Recommended Movies</h2>
        <div id="recommendation-container">
        </div>
    </div>
</body>
<script src="./static/index.js"></script>
</html>
